@use '../../tokens/tokens' as t;

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: t.$radius-pill;
  font-weight: t.$font-weight-bold;
  line-height: t.$line-height-tight;
  font-family: t.$font-family-base;
  transition: t.$transition-default;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid t.$color-focus-ring;
    outline-offset: t.$radius-focus-offset;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: t.$color-primary-default;
    color: t.$color-text-inverse;

    &:hover:not(:disabled) {
      background-color: t.$color-primary-hover;
    }

    &:active:not(:disabled) {
      background-color: t.$color-primary-active;
    }

    &:disabled {
      background-color: t.$color-primary-disabled;
      color: t.$color-text-inverse-subtle;
    }
  }

  &.secondary {
    box-shadow: t.$color-border-shadow 0px 0px 0px 1px inset;
    background-color: transparent;
    color: t.$color-text-primary;

    &:hover:not(:disabled) {
      background-color: t.$color-surface-hover;
    }

    &:active:not(:disabled) {
      background-color: t.$color-surface-active;
    }

    &:disabled {
      color: t.$color-text-muted;
      box-shadow: t.$color-surface-disabled 0px 0px 0px 1px inset;
    }
  }

  &.small {
    padding: t.$button-padding-sm;
    font-size: t.$font-size-sm;
  }

  &.medium {
    padding: t.$button-padding-md;
    font-size: t.$font-size-md;
  }

  &.large {
    padding: t.$button-padding-lg;
    font-size: t.$font-size-lg;
  }
}
