@use '../../tokens/tokens' as t;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid t.$color-border-subtle;
  padding: t.$spacing-4 t.$spacing-7;
  font-family: t.$font-family-base;

  svg {
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    display: inline-block;
    vertical-align: top;
    margin: t.$spacing-2 0 t.$spacing-2 t.$spacing-4;
    font-weight: t.$font-weight-bold;
    font-size: t.$font-size-xl;
    line-height: t.$line-height-tight;
  }

  button + button {
    margin-left: t.$spacing-4;
  }
}

.welcome {
  margin-right: t.$spacing-4;
  color: t.$color-text-primary;
  font-size: t.$font-size-md;
}
